# Frontend Environment Variables
VITE_API_BASE_URL=http://localhost:8000/api

# Backend Environment Variables
DATABASE_URL=sqlite:///./journal.db # Or mysql+pymysql://journal_user:journalpassword@localhost:3306/journal_db
JWT_SECRET=super-secret-shlokbam-journal-key-2026
GITHUB_TOKEN=
CORS_ORIGINS=*
